{% extends 'base.html.twig' %}

{% block title %}datatable
{% endblock %}
{% block stylesheets %}


<link rel="stylesheet" href="{{ asset ("bundle/plugins/fontawesome-free/css/all.min.css")}}">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="{{ asset ("bundle/dist/css/adminlte.min.css")}}">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

{% endblock %}

{% block body %}


<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Fiche Adherents</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="#">Home</a>
						</li>
						<li class="breadcrumb-item active">Fiche Adherents</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>


	<body class="hold-transition sidebar-mini">
		<!-- Site wrapper -->
		<div class="wrapper">

			<!-- Message End -->

			<!-- Message End -->

			<!-- /.navbar -->

			<!-- Main Sidebar Container -->


			<!-- Main content -->
			<section class="content">
				<!-- Default box -->
				<div class="card">
					<div class="card-header">


						<div class="card-tools">
							<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
								title="Collapse">
								<i class="fas fa-minus"></i>
							</button>
							<button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
								title="Remove">
								<i class="fas fa-times"></i>
							</button>
						</div>
					</div>
					<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Info Adhrent</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<style>
									.modal-body {


										text-align: center;
									}
								</style>

								<div class="modal-body">


									Nom Prenom <h3 id="nameuser"></h3>
									Numero dossier <h4 id="Dossier"></h4>
									colis:<h5 id="colis"></h5>
									Numero Telephonne: <h5 id="Telephone"></h5>

									Premiere inscription :<h5 id="Inscription"></h5>
									Observation:<h5 id="Observation"></h5>
									nombre Adulte: <h5 id="Adulte"></h5>
									nombre Enfant: <h5 id="enfant"></h5>


								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>

								</div>
							</div>
						</div>
					</div>
				 
					<div class="card-body p-0">
						<table class="table table-striped projects">
							<thead>
								<tr>
									<th style="width: 1%">
										Colis
									</th>
									<th style="width: 20%">
										Nom & Prenom
									</th>
									<th style="width: 30%">
										Observation
									</th>
									<th>
										Frequence
									</th>
									<th style="width: 5%" class="text-center">
										Telephone
									</th>
									<th style="width: 25%"></th>
								</tr>
							</thead>
							{% for Adherent in Adherents %}

							<tbody>

								<tr>
									<td>
										{{ Adherent.Colis}}
									</td>
									<td>
										{{ Adherent.NomPrenom}}
									</td>
									<td>
										{{ Adherent.Observation}}

									</td>
									<td>
										{{ Adherent.FrequenceMensuelle}}
									</td>
									<td>
										{{ Adherent.Telephone}}
									</td>



									<td class="project-actions text-right">

										<a class="btn btn-primary btn-sm" href="#" data-toggle="modal"
											data-target="#exampleModal" data-id="2" data-nom="{{ Adherent.NomPrenom}}"
											data-colis="{{ Adherent.Colis}}" data-numero="{{ Adherent.Telephone}}"
											data-observation="{{ Adherent.Observation}}"
											data-Inscription="{{ Adherent.Inscription|date('Y-m-d') }}"
											data-adulte="{{ Adherent.Adulte}}" data-enfant="{{ Adherent.Enfant}}"
											data-dossier="{{ Adherent.Dossier }}">
											<i class="fas fa-folder">
											</i>
											Voir
										</a>


										<a class="btn btn-info btn-sm"
											href="{{path ('editAdherent', {'id' : Adherent.id})}}">
											<i class="fas fa-pencil-alt"></i>
											modifier
										</a>
										<a class="btn btn-danger btn-sm"
											onclick="return confirm('êtes-vous sûr de vouloir supprimer  {{ Adherent.NomPrenom}}')"
											href="{{path ('delete_adherent', {'id' : Adherent.id})}}">
											<i class="fas fa-trash"></i>
											supprimer
										</a>

									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->


			</section>


			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->


		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</body>
</div>
<script></script>

<!-- ./wrapper -->
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
	$('#exampleModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget) // Button that triggered the modal

		var nom_user = button.data('nom')
		var colis = button.data('colis')

		var Telephone = button.data('numero')
		var Observation = button.data('observation')
		var inscription = button.data('Inscription')
		var adulte = button.data('adulte')
		var enfant = button.data('enfant')
		var dossier = button.data('dossier')



		var modal = $(this)

		modal.find('#nameuser').text(nom_user)
		modal.find('#colis').text(colis)
		modal.find('#Telephone').text(Telephone)
		modal.find('#Observation').text(Observation)
		modal.find('#Inscription').text(inscription)
		modal.find('#Adulte').text(adulte)
		modal.find('#enfant').text(enfant)
		modal.find('#Dossier').text(dossier)

	})
</script>


<script></script>
{# <!-- jQuery -->
														<script src="{{ asset ("bundle/plugins/jquery/jquery.min.js")}}"></script>
														<!-- Bootstrap 4 -->
														<script src="{{ asset ("bundle/plugins/bootstrap/js/bootstrap.bundle.min.js")}}"></script> #}
<!-- AdminLTE App -->
<script src="{{ asset ("bundle/dist/js/adminlte.min.js")}}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset ("bundle/dist/js/demo.js")}}"></script>
</body>
{% endblock %}{% endblock %}