 {% extends 'base.html.twig' %}

  {% block title %}Info Adherents{% endblock %}



  {% block body %}






<style>
table {
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid #cecfd5;
}
th,
td {
  padding: 10px 15px;
}


</style>




  <div class="container-fluid">
    <div class="row ">


      <div class="table table-bordered">

        <table class="table table-dark ">
          <thead class="thead">
            <tr>
              
                
                <th>dossier</th>
                <th>FreqenceMensuelle</th>
                <th>NbPassage</th>
                <th>Inscription</th>
                <th>Adulte</th>
                <th>Enfant</th>
                <th>Colis</th>
                <th>Telephone</th>
              
             
                <th>Payé</th>
                <th>hygiene</th>
                <th>Lessive</th>
                <th>Couches</th>
               
                <th>Observation</th>


               

            </tr>
          </thead>

          {% for Adherent in Adherents %}




          <tbody
            style="{% if Adherent.FrequenceMensuelle == '1' %} background-color:; {% elseif  Adherent.FrequenceMensuelle == '2' %} background-color:#4682B4; {% elseif Adherent.FrequenceMensuelle == 'exceptionnel' %} background-color:#FF8C00; {% endif %}">
           
            <td>{{ Adherent.dossier}}</td>


            <td> {{ Adherent.FrequenceMensuelle}}</td>
            <td>{{ Adherent.NbPassage}}</td>
            <td>{{ Adherent.Inscription|date('Y-m-d') }} </td>
            <td>{{ Adherent.Adulte}}</td>
            <td>{{ Adherent.Enfant}}</td>
            <td>{{ Adherent.Colis}}</td>
            <td>{{ Adherent.Telephone}}</td>
            <td>{{ Adherent.Paye}}</td>
            <td>{{ Adherent.hygiene}}</td>
            <td>{{ Adherent.Lessive}}</td>
            <td>{{ Adherent.Couches}}</td>
             
            <td>{{ Adherent.Observation }} </td>





            {% endfor %}
          </tbody>

        </table>


      </div>
    </div>
  </div>
  
  
  
 
  {% endblock %}