{% extends 'base.html.twig' %}

{% block title %}Fiche journalière
{% endblock %}
{% block stylesheets %}


<link rel="stylesheet" href="{{ asset ("bundle/plugins/fontawesome-free/css/all.min.css")}}">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="{{ asset ("bundle/dist/css/adminlte.min.css")}}">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

{% endblock %}

{% block body %}


<!-- Content Header (Page header) -->
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Fiche journalière</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item">
						<input type="button" value="Imprimer cette page" onclick="window.print()">
					</li>


					<li class="breadcrumb-item active">Fiche journalière</li>

				</ol>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</section>
<div class="hold-transition sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<!-- Message End -->

		<!-- Message End -->

		<!-- /.navbar -->

		<!-- Main Sidebar Container -->


		<!-- Main content -->
		<section class="content">
			<!-- Default box -->

	</div>
</div>

<div class="container justify-content-center">

	<div class="card-body ">
		<table class="table table-striped projects">
			<thead class="text-center">
				<tr>
					<th style="width: 1%">
						Colis
					</th>
					<th style="width: 20%">
						Nom & Prenom
					</th>
					<th style="width: 20%">
						Date et heure
					</th>
					<th style="width: 20%">
						Frequence
					</th>
					<th style="width: 10%">
						Telephone
					</th>
					<th style="width: 25%"> dossier</th>
				</tr>
			</thead>


			<tbody class="text-center">


				{% for Adherent in Fiche %}

			 

				<tr>

					<td>
						{{Adherent.Adherents.Colis}}
					</td>
					<td>
						{{ Adherent.Adherents.NomPrenom}}
					</td>

					<td>
						{{Adherent.date|date("Y-m-d H:i:s", "Europe/Paris") }}

					</td>
					<td>
						{{ Adherent.Adherents.FrequenceMensuelle}}
					</td>
					<td>
						{{ Adherent.Adherents.Telephone}}
					</td>

                     
					<td>

					{{ Adherent.Adherents.dossier}}

					 
						 
						


					</td>
						<td>

					

						 
				 
						


					</td>
				 
				 


				</tr>
				{% endfor %}
			</tbody>



			
			 
		</table>
	</div>
 {% endblock %}