{% extends "base.html.twig" %}


{% block title %}AdminLTE 3 | Calendar
{% endblock %}

{% block stylesheets %}

	{{parent()}}

	<!-- Theme style -->
	<link rel="stylesheet" href="{{ asset ("/bundle/css/main.min.css")}}">

	<style>
		form .select2-container {
			width: 100%;
		}
		
		form .select2-container .select2-selection {
			min-height: 38px;
		}
	</style>
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-10">
				<div id='calendar'></div>
			</div>
		</div>
	</div>

	{% include "calandar/_add_appointment_dialog.html.twig" %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset ("/bundle/js/main.min.js")}}"></script>
	<script src="{{ asset ("/bundle/js/script.js")}}"></script>

{% endblock %}
